$font-family: 'Montserrat', sans-serif;
$font-family-heading: $font-family;
$font-family-base: $font-family;
$font-size: 1rem;

$font-size-base: $font-size;
$font-weight: 400;
$font-weight-base: $font-weight;
$font-line-height: 1.7;
$line-height-base: $font-line-height;

